<h1>New Person</h1>

<%= form_for :person do |p| %>
  <p>
    <%= p.label :name %><br>
    <%= p.text_field :name %>
  </p>
 
  <p>
    <%= p.label :dni %><br>
    <%= p.text_field :dni %>
  </p>
 
  <p>
    <%= p.submit %>
  </p>
<% end %>
